<% @page_title = "Delete Regular"%>
<%= form_for(@regular,:method => 'delete') do |f| %>
<div class="center page-header">
  <h2><%= f.object.username %>?</h2>
</div>
    <div class="center form-group">
      <p>Are you sure you wish to permanently delete this?</p>
      <div class="col-sm-12">
        <%= f.submit "Delete Regular",class: 'btn btn-danger btn-lg' %>
      </div>
    </div>
<% end %>
