<div class="center page-header">
  <h2>Regular Details</h2>
</div>
<div class="well col-xs-8 col-xs-offset-2">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <tr>
      <td class="success text-center">Regular username</td>
      <td class="active data"> <%= @regular.username %> </td>
    </tr>
    <tr>
      <td class="success text-center">Full Name</td>
      <td class="active data"> <%= @regular.first_name + " " + @regular.last_name %> </td>
    </tr>
  </table>
</div>
