<% @page_title = "Delete Notification"%>
<%= form_for(@topic,:method => 'delete') do |f| %>
<%= hidden_field_tag :forum_id, @forum_id %>
<div class="center page-header">
  <h2><%= f.object.title %>?</h2>
</div>
    <div class="center form-group">
      <p>Are you sure you wish to permanently delete this?</p>
      <div class="col-sm-12">
        <%= f.submit "Delete Topic",class: 'btn btn-danger btn-lg' %>
      </div>
    </div>
<% end %>
