<div class="center page-header">
  <h2><%= @tower.towername %></h2>
  <%= link_to("Edit Tower", edit_tower_path(@tower.id), :class => 'btn btn-info') %>
  <%= link_to("Delete Tower", delete_tower_path(@tower.id), :class => 'btn btn-danger') %>
</div>