<div class="center page-header">
  <h2>Tower Details</h2>
</div>
<div class="well col-xs-8 col-xs-offset-2">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <tr>
      <td class="success text-center">Tower ID</td>
      <td class="active data"> <%= @tower.id %> </td>
    </tr>
    <tr>
      <td class="success text-center">Towername</td>
      <td class="active data"> <%= @tower.towername %> </td>
    </tr>
  </table>
</div>
