<% @page_title = "Notifications" %>
<div class="center page-header">
  <h2>Notifications</h2>
</div>
<div class="col-xs-7 col-xs-offset-2">
  <% @notifications.each do |notification| %>
  <div class="entry">
    <%= link_to(notification.title, home_home_notification_show_path(notification)) %>
    <p class="meta">
      <span class="date">
        <%= time_ago_in_words(notification.created_at) %> ago
      </span>
    </p>
  </div>
  <% end %>
</div>
