<% @page_title = "Tags" %>
<div class="center page-header">
  <h2>Tags</h2>
</div>
<div class="col-xs-7 col-xs-offset-2">
  <% @tags.each do |tag| %>
  <div class="entry">
    <%= link_to(tag.title, home_home_tag_show_path(tag)) %>
    <p class="meta">
      <span class="date">
        <%= time_ago_in_words(tag.created_at) %> ago
      </span>
    </p>
  </div>
  <% end %>
</div>
