<div class="center page-header">
  <h2><%= @poll.title %></h2>
</div>
<div class="well col-xs-8 col-xs-offset-2">
  <p>
    <%= simple_format(@poll.message) %>
  </p>
</div>
<div class="col-xs-8 col-xs-offset-2 well well-lg">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <% @poll.options.each do |option| %>
    <tr>
      <td>
        <%= simple_format(option.message) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
