<% @page_title = "Floors" %>
<div class="center page-header">
  <h2>Floors</h2>
  <% if session[:username] == "admin" %>
  <%= link_to "Add new Floor", new_floor_path, :class => 'btn btn-primary' %>
  <% end %>
</div>
<div class="col-xs-7 col-xs-offset-2">
  <% @floors.each do |floor| %>
  <div class="entry">
    <%= link_to(floor.floorname, floor_path(floor)) %>
    <% if session[:username] == "admin" %>
    <p class="meta">
      <%= link_to("Edit", edit_floor_path(floor)) %>
      <%= link_to("Delete", delete_floor_path(floor)) %>
    </p>
    <% end %>
  </div>
  <% end %>
</div>
