$navbar-default-bg: #c7c5e6;

@import "bootstrap-sprockets";
@import "bootstrap";

ul.nav a { color: #79589F !important; }
ul.nav a:hover { color: white !important; }

body {
  background-color: #79589F !important;
  padding-top: 70px;
}

.container{
  background-color: whitesmoke;
  padding: 12px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: #79589F;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}


#logo:hover {
  color: white;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-color: whitesmoke;
  background-size: cover;
  height: 400px;
}

.jumbotron h1 {
  color: black;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px;
  color: #79589F;
}

.footer small {
  float: right;
}

.program-title {
  font-weight: bold;
  font-size: 1.5em;
}

.program-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

#margiretta {
  margin: 10px;
}

