<% @page_title = "Moderators" %>
<div class="center page-header">
  <h2>Moderators</h2>
  <%= link_to "Add new Moderator", new_moderator_path, :class => 'btn btn-primary' %>
</div>
<div class="col-xs-7 col-xs-offset-2">
  <% @moderators.each do |moderator| %>
  <div class="entry">
  <%= link_to(moderator.username, moderator_path(moderator)) %>
    <p class="meta">
      <%= link_to("Edit", edit_moderator_path(moderator)) %>
      <%= link_to("Delete", delete_moderator_path(moderator)) %>
    </p>
  </div>
  <% end %>
</div>
